

body{
    background: #fff;
    color: #13022C;
    font-family: helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.25;
}

em {
    font-family: sans-serif;
}

h1, h2, h3, h4, em {
    font-weight: bold;
}

.header__nav{
    padding: 2rem 0;
    font-size: 2rem;
    border: 1px solid #f0f0f0;
    width: 100%;
}

.header__nav ul {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
    text-align: center;
}
.header__nav li{
    width: 100%;
}

.header__nav a{
    display: block;
    padding: 1rem 0;
}
@media (min-width: 650px){
    .header__nav{
        border: none;
    }
    
    .header__nav ul {
        flex-direction: row;
    }
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 650px){
   .header{
        flex-direction: row;
   }
}

.header__logo{
    width: 250px;
}

.logo-graphic{
    width: 100%;
}

.st0{fill:#0F0021;} 
