

body{
    background: #fff;
    color: #1A171B;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

em {
    font-family: sans-serif;
}

h1, h2, h3, h4, em {
    font-weight: bold;
}

.header__nav{
    font-size: 2rem;
    border: 1px solid #f0f0f0;
    width: 100%;
}
.width-limit{
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}

@media (min-width: 650px){
    .width-limit{
        max-width: 1020px;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.header__nav ul {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
    text-align: center;
}
.header__nav li{
    width: 100%;
}

.header__nav a{
    display: block;
    padding: 1rem 0;
}
.header__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}
@media (min-width: 650px){

    .header__inner{
        padding: 1rem 0;
        flex-direction: row;
        align-items: flex-end;
    }
    .header__nav{
        border: none;
        margin: 0;
        padding: 0;
    }
    .header__nav ul {
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    .header__nav a{
        padding: 1.5rem 0;
    }
}


.header__brand {
    width: 200px;
}

.header__logo img {
    width: 100%;
}

.logo-graphic{
    width: 100%;
}

.st0{fill:#0F0021;} 
